$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$pupple: linear-gradient(90deg, #4851E3 0%, #638aef 100%);
$pupple-border:linear-gradient(90deg, #4851E3 0%, #638aef 100%) 0 0 1 0;
$pupple-y:linear-gradient(-90deg, #7250FF 0%, #7E5FFF 58%, #8669FF 100%);
$fontColor: #4851E3!important;
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;